{#
/**
* @file
* Default theme implementation to display a block.
*
* @see template_preprocess_block()
*
* @ingroup themeable
*/
#}
<div class="{{ main_class }}">
    <ul class="{{ main_class ~ '--list' }}">
        {% for item in content %}
            <li class="{{ main_class ~ '--list__item' }}">
                <div class="{{ main_class ~ '--list__item--' ~ item.img_class }} item-svg" title="{{ item.title }}"></div>
                <div class="{{ main_class ~ '--list__item--bottom' ~ ' ' ~ item.img_class}}">
                    <p class="{{ main_class ~ '--list__item--count' }}">{{ item.bottom }}</p>
                    {% if show_title %}
                        <p class="{{ main_class ~ '--list__item--title' }}">{{ item.title }}</p>
                    {% endif %}
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
